@use '@scss_mixin' as *;
@use '@scss_variables' as v;
@use 'sass:map';

.container {
  position: relative;
  @include flex-column(flex-start, flex-start, v.$unit * 5);
}

.sumary_info {
  position: relative;
  height: 350px;
  background-color: v.$bg-secondary;
  @include flex-row(left);

  .main_picture {
    position: relative;
    @include flex-row(center, center);
    img {
      width: clamp(300px, 40vw, 600px);
      object-fit: cover;
    }
  }

  .about_me {
    position: relative;
    width: 100%;
    height: 100%;
    @include flex-column(space-between, flex-start);
    padding: v.$spacing-lg;

    &_title {
      @include HL_title_large;
    }

    section {
      gap: 1ch;
      span {
        font-weight: v.$font-semibold;
      }
    }
  }
}

.detail_info {
  width: 100%;
  height: 100%;
  
  @include flex-row(flex-start, flex-start, v.$spacing-xl);

  .left_column,
  .right_column {
    flex: 1 1 0;
    
    @include flex-column(flex-start, flex-start, v.$spacing-lg);
  }
}

@media screen and (width <= 1000px) {
  .sumary_info {
    height: max-content;
    flex-direction: column-reverse;

    .main_picture {
      aspect-ratio: 16/9;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .about_me{
      padding: v.$spacing-md;
    }
  }
}

@media screen and (width <= map.get(v.$breakpoints, 'md')) {
  .detail_info
  {
    flex-direction: column-reverse;
    gap: v.$spacing-lg;
  }
}